h3 {
    font-family: "Love Ya Like A Sister", cursive;
}

#logo {
    height: 50px;
}

.app-header {
    background-color: #FFC75F;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.user-page-btn {
    background-color: #E7B355;
    border: 2px #E7B355 solid;
    padding-top: auto; padding-bottom: auto;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    font-family: "Love Ya Like A Sister", cursive;
    color: white;
}

.user-page-logo {
    margin-top: auto; margin-bottom: auto;
    vertical-align: middle;
}