
.welcome-message-img {
    height: 300px;
    padding: 10px;
    text-align: left;
    background-image: url('../resources/Splash.svg');
    background-repeat: no-repeat;
    background-position: 20%;
}

#welcome-message-logo {
    padding-top: 25px;
    padding-left: 20%;
    height: 200px;
}

.body {
    width: 100%;
}

.welcome {
    width: 100%;
    margin: auto;
    background-color: #FFC75F;
    border-top: 2px black solid;
    height: 350px;
    font-family: "Love Ya Like A Sister", cursive;
}

.col.welcome-message-text {
    margin-top: 5%; margin-bottom: 10%;
}

#login {
    position: relative;
    top: -50px;
    margin-left: auto; margin-right: auto;
    width: 70%;
}

#login-body {
    border: 2px black solid;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 20px grey;
    font-family: "Sanchez", cursive;
    height: 100px;
}

#login-footer {
    border: 2px black solid;
    text-align: left;
    padding-left: 5%;
    height: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 20px grey;
    background-color: #845EC2;
    padding-top: 10px; padding-bottom: 10px;
}

.container.login-input {
    border: 3px grey solid;
    border-radius: 15px;
    
    margin-top: 25px;
    width: 90%;
}

#footer-text {
    background-color: #F8F8FF;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}