.translation-page-body {
    border-top: 2px black solid;
    border-bottom: 2px white solid;
    font-family: "Sanchez", cursive;
    background-color: #FFC75F;
}

.translation-text {
    border: 5px white solid;
    background-color: white;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
}

input.input-text:focus {
    outline: 'none';
    outline-width: 0;
}

#translation {
    margin-top: 5%; margin-left: auto; margin-right: auto;
    height: 350px;
    width: 70%;
}

#translation-body {
    border: 2px black solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 300px;
    overflow: auto;
    box-shadow: 0 0 20px grey;
}

#translation-footer {
    border: 2px black solid;
    text-align: left;
    padding-left: 5%;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 20px grey;
    background-color: #845EC2;
    padding-top: 10px; padding-bottom: 10px;
}

#footer-text {
    background-color: #F8F8FF;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
