#user-page-translation {
    margin-top: 2%; margin-left: auto; margin-right: auto;
    height: 200px;
    width: 70%;
}

#user-page-translation-body {
    border: 2px black solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
    overflow: auto;
    box-shadow: 0 0 20px grey;
}

#user-page-translation-footer {
    border: 2px black solid;
    text-align: left;
    padding-left: 5%;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 20px grey;
    background-color: #845EC2;
    padding-top: 10px; padding-bottom: 10px;
}

#user-page-footer-text {
    font-family: "Sanchez", cursive;
    width: fit-content;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #F8F8FF;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.container.edit-user-name-input {
    width: 70%;
    border: 3px grey solid;
    border-radius: 15px;
    margin-top: 5px;
}

#delete-list {
    background-color: #845EC2;
    border: #845EC2;
    margin: 5px;
}

#delete-profile {
    background-color: #845EC2;
    border: #845EC2;
}